////////////////////////////////////////////////////
//  Witches.Town theme
//  Originally by Alda and Sylvhem of witches.town
//  provided under the AGPL license
////////////////////////////////////////////////////

// Colors
$ui-base-color: #a25203;
$ui-base-lighter-color: #d6cabd;
$ui-primary-color: #faf4e6;
$ui-secondary-color: #ffeed3;
$ui-highlight-color: #bda388;

// Columns width
div.column {
  flex-grow: 1;
}

// Fonts
@font-face {
  font-family: "Courier New", Courier, monospace;
}

* {
  font-family: "Courier New", Courier, monospace;
}

div {
  font-family: "Courier New", Courier, monospace;
}

body {
  font-family: "Courier New", Courier, monospace;
}

button {
  font-family: "Courier New", Courier, monospace;
}

// Import defaults
@import 'application';




